<div ng-show="registrations_flag">
    <h1>Registered Users</h1>

    <!--<button type="button" class="btn btn-primary" ng-click="refresh()" id="refresh_button">Refresh</button>-->

    <table class="table" style="max-width: 300px;">
        <thead>
            <tr>
                <th>Salutation</th>
                <th>Name</th>
                <th>Age</th>
                <th>Delete?</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="reg in registrations">
                <td>{{reg.salutation}}</td>
                <td>{{reg.name}}</td>
                <td>{{reg.age}}</td>
                <td><a href="" ng-click="delete_record(reg.ID)">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
